<%= link_to(l(:label_help), '#', :id => 'helpLink', :class => 'icon icon-help') %>
<div id="helpDialog">
  <%= render :partial => "help/#{template}", :locals => {:links => links} %>
  <%= render :partial => "help/support" %>
</div>

<%= render :partial => 'help/help', :formats => [:js] %>
