<%- tips = scrum_tips -%>
<%- unless tips.empty? -%>
  <h3><%= l(:label_tip_title) %></h3>
  <ul>
    <%- tips.each do |tip| -%>
      <li style="list-style: disc inside;">
        <%= raw(tip) %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>