<table class="box attributes">
  <tr>
    <td>
      <div class="tabular">
        <p><%= l(:label_product_backlog_burndown_stat, :count => count, :sps => sps) %></p>
      </div>
    </td>
  </tr>
</table>