<%- if @project.module_enabled?(:scrum) -%>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= form.select :sprint_id,
                        options_for_select(@issue.assignable_sprints, @issue.sprint),
                        :include_blank => true %>
      </p>
    </div>
    <%- if @issue.is_task? -%>
      <div class="splitcontentright">
        <p>
          <%= form.text_field :pending_effort, :size => 3 %>
        </p>
      </div>
    <%- end -%>
  </div>
<%- end -%>
